---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150" alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
          </div>

          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <img src="{{ post.thumbnail }}" height="30" width="30" />
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>

          </div>

          <div class="col-md-12 main content-panel">
            <div class="articles">

              <h2>Projects</h2>

              <ul>
                  <h2>{{ site.projects.label }}</h2>
                  {% for project in site.projects %}

                      <li>
                          <img src="{{ project.thumbnail }}" height="30" width="30" />
                          <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
                          <br>
                          <small class="hidden-xs">{{ project.summary }}</small>
                      </li>

                  {% endfor %}
              </ul>

            </div>
          </div>

          <div class="col-md-12 main content-panel">
            <div class="articles">
              <h2>Who am I?</h2>
              I'm just a regular student at the University of Pennsylvania, majoring in Computer Science.

              <br>
              <br>

              I like to work on things that catch my eye and seem pretty interesting. 

              <br>
              <br>
              
              Some of the cool computer science-y stuff I've touched/worked on include OS dev, reversing engineering malware, device drivers, VR, android dev, device drivers, llvm/clang, ...

            </div>
          </div>

          <div class="col-md-12 main content-panel">
            <div class="articles">

              <h2>Other blogs/Cool peeps</h2>
              <ul>
                <ul>
                <h3>Reverse Engineering</h3>
                <a href="https://blog.xpnsec.com/">XPN</a> 
                </ul>
              </ul>
              
            </div>
          </div>
    </div>
</div>
