{%- comment -%}
Place your provider's full embed HTML here and set in _config.yml:

email_subscribe:
  custom_embed: true

This file will be included verbatim on the Newsletter page (/newsletter/).
{%- endcomment -%}

{% assign kitcfg = site.email_subscribe | default: nil %}
{% if kitcfg and kitcfg.kit and kitcfg.kit.embed_js %}
  <script async src="{{ kitcfg.kit.embed_js }}"></script>
{% elsif kitcfg and kitcfg.kit and kitcfg.kit.uid %}
  <!-- Kit (ConvertKit) JS embed using UID -->
  <script async data-uid="{{ kitcfg.kit.uid }}" src="https://f.convertkit.com/{{ kitcfg.kit.uid }}.js"></script>
{% else %}
  <div class="alert alert-info">
    Custom embed active, but no Kit embed configured. Add one of:
    <ul>
      <li>Set <code>email_subscribe.kit.embed_js</code> to your form's JS URL, or</li>
      <li>Set <code>email_subscribe.kit.uid</code> to your form UID to use the default <code>f.convertkit.com</code> embed.</li>
    </ul>
  </div>
{% endif %}
