<div class="image-container"
     {% if include.width and include.width contains '%' %}
       {% assign width_value = include.width | remove: '%' | plus: 0 %}
       {% if width_value > 100 %}
         style="max-width: 100%; overflow: visible;"
       {% endif %}
     {% endif %}>
    <img loading="lazy" 
         src="{{ include.path }}" 
         {% if include.width %}
           {% assign width_value = include.width | remove: '%' | plus: 0 %}
           {% if width_value > 100 %}
             style="width: {{ include.width }}; margin-left: calc((100% - {{ include.width }}) / 2);"
           {% else %}
             width="{{ include.width }}"
           {% endif %}
         {% else %}
           width="100%"
         {% endif %}
         alt="{{ include.alt | default: '' }}">
    
    {% if include.text %}
    <div class="caption">
        <em>{{ include.text }}
            {% if include.url_source %}
            (Image source: <a href="{{ include.url_source }}" rel="external nofollow noopener" target="_blank">{{ include.url_text }}</a>)
            {% endif %}
        </em>
    </div>
    {% endif %}
</div>