<hr>
<div class="post-footer">
  <h2>Stay Updated</h2>
  <p style="font-size: 1.1em;">
    If you enjoyed this post, <a href="{{ '/feed.xml' | relative_url }}">subscribe to the RSS feed</a>{% if site.x_username %}, follow me on <a href="https://twitter.com/{{ site.x_username }}">X (Twitter)</a>{% endif %}, or <a href="{{ '/subscribe/' | relative_url }}">get email updates</a>.
  </p>
</div>