/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
/* Post Footer (Subscribe/Social) */ .post-footer { margin-top: 3rem; margin-bottom: 3rem; padding: 2rem; border: 1px solid var(--global-divider-color); border-radius: 8px; background-color: var(--global-code-bg-color); text-align: center; h3 { margin-top: 0; margin-bottom: 1rem; font-size: 1.2rem; font-weight: bold; } p { margin-bottom: 0; font-size: 1rem; } }
