.post-header {
    margin-bottom: $vertical-spacing-unit;
}
.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-top: $space-2;
    }
}
.post-title {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 0;
    // @include media-query($on-laptop) {
    //     font-size: 36px;
    // }
}
.post-content {
    h2 {
        font-size: 42px;
        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }
    h3 {
        font-size: 30px;
        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }
    h4 {
        font-size: 20px;
        // @include media-query($on-laptop) {
        //     font-size: 18px;
        // }
    }
}
.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: 0px;
}
.post-link {
    display: block;
    font-size: 42px;
}

.toc__list:before {
    font-weight: bold;
    font-size: 1.5rem;
}
   
.toc_detail {
    margin: 0 2px 40px;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(245, 245, 245);
    border-radius: 8px;
    padding: 0.4em;
    font-size: 15px;
}

.toc__sublist li {
}
   
.toc-h2:first-child {
}  
   
#toc a {
    color: #2d2b2b;
    text-decoration: underline;
}